<!doctype html>
<html class="no-js" lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Операции с отрицательными числами</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="/">Главная</a></li>
          <li><a href="/theory">Теория</a></li>
          <li><a href="/practice">Практика</a></li>
          <li><a href="/practice/statistics">Статистика</a></li>
        </ul>
      </div>
    </div>
    <div class="cell auto"><br></div>
    <div class="card" id="base-page-layout">
      <div class="card-section">
        <%= yield %>
      </div>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
  </body>
</html>
