<div class="grid-container">
  <div class="callout">
    На этом сайте вы можете как получить теоретические сведения о
    действиях с отрицательыми числами, так и проверить свои знания
    на практике!
  </div>
</div>
