<div class="grid-container">
  <div class="card">
    <div class="card-section">
      На этом сайте вы можете как получить теоретические сведения о
      действиях с отрицательыми числами, так и проверить свои знания
      на практике!
    </div>
  </div>
</div>
