<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h5>Выбирите тип теста</h5>
        </div>
        <div class="large-12 cell">
          <a href="/general_test" class="button" id="general_test_btn">Общий тест</a>
          <a href="/rule_test" class="button" id="rule_test_btn">Закрепление выбранного правила</a>
        </div>
    </div>
</div>
