<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h5>Выбирите правило</h5>
        </div>
        <div class="large-12 cell">
          <a href="/practice/rule_test?rule=%2B" class="button hollow" id="">Сложение</a>
          <a href="/practice/rule_test?rule=-" class="button hollow" id="">Вычитание</a>
          <a href="/practice/rule_test?rule=*" class="button hollow" id="">Умножение</a>
          <a href="/practice/rule_test?rule=/" class="button hollow" id="">Деление</a>
        </div>
    </div>
</div>
