<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell shrink">
      <ul class="vertical menu">
        <li><a href="#rule_1">Rule1</a></li>
        <li><a href="#rule_2">Rule 2</a></li>
      </ul>
    </div>
    <div class="cell auto">
      <h5>Правила действий с отрицательными числами</h5>
      <div class="card">
        <div class="card-divider" id="rule_1">
          <h5>First rtyle</h5>
        </div>
        <div class="card-section">
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <div class="cell auto example">
            <p> example </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
