<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell shrink">
      <ul class="vertical menu">
        <li><a href="#addition">Сложение</a></li>
        <li><a href="#substraction">Вычитание</a></li>
        <li><a href="#multiplication">Умножение</a></li>
        <li><a href="#division">Деление</a></li>
      </ul>
    </div>
    <div class="cell auto">
      <h5>Правила действий с отрицательными числами</h5>
      <div class="card">
        <div id="addition" class="card-divider">
          <h5>Сложение</h5>
        </div>
        <div class="card-section">
          <p>При сложении двух чисел с одинаковым знаком складываются их абсолютные величины и перед суммой ставится общий их знак. </p>
          <div class="card">
            <div class="card-divider example-header">
              <p>Пример</p>
            </div>
            <div class="card-section">
              <p>(+8) + (+11) = 19;
              <br>(-7) + (-3) = -10. </p>
            </div>
          </div>
          <p>При сложении двух чисел с разными знаками из абсолютной величины одного из них вычитается абсолютная величина другого (меньшая из большей) а ставится знак того числа, у которого абсолютная величина больше.</p>
          <div class="card">
            <div class="card-divider example-header">
              <p>Пример</p>
            </div>
            <div class="card-section">
              <p>(-3) + (+12) = 9;
              <br>(-3) + (+1) = -2. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="substraction" class="card-divider">
          <h5>Вычитание</h5>
        </div>
        <div class="card-section">
          <p>Вычитание одного числа из другого можно заменить сложением; при этом уменьшаемое берется со своим знаком, а вычитаемое с обратным. </p>
          <div class="card">
            <div class="card-divider example-header">
              <p>Пример</p>
            </div>
            <div class="card-section">
              <p>(+7) - (+4) = (+7) + (-4) = 3;
              <br>(+7) - (-4) = (+7) + (+4) = 11;
              <br>(-7) - (-4) = (-7) + (+4) = -3;
              <br>(-4) - (-4) = (-4) + (+4) = 0; </p>
            </div>
          </div>
          <p>Замечание. При выполнении сложения и вычитания, особенно когда имеем дело с несколькими числами, лучше всего поступать так: 
          <br>1) освободить все числа от скобок, при этом перед числом поставить знак « + », если прежний знак перед скобкой был одинаков со знаком в скобке, и « - », если он был противоположен знаку в скобке;
          <br>2) сложить абсолютные величины всех чисел, имеющих теперь слева знак +;
          <br>3) сложить абсолютные величины всех чисел, имеющих теперь слева знак -;
          <br>4) из большей суммы вычесть меньшую и поставить знак, соответствующий большей сумме.</p>
          <div class="card">
            <div class="card-divider example-header">
              <p>Пример</p>
            </div>
            <div class="card-section">
              <p>(-30) - (-17) + (-6) - (+12) + (+2);
              <br>(-30) - (-17) + (-6) - (+12) + (+2) = -30 + 17 - 6 - 12 + 2;
              <br>17 + 2 = 19;
              <br>30 + 6 + 12 = 48;
              <br>48 - 19 = 29.
              <br>Результат есть отрицательное число -29, так как большая сумма (48) получилась от сложения абсолютных величин тех чисел, перед которыми стоили минусы в выражении -30 + 17 – 6 -12 + 2. На это последнее выражение можно смотреть и как на сумму чисел -30, +17, -6, -12, +2, и как на результат последовательного прибавления к числу -30 числа 17, затем вычитания числа 6, затем вычитания 12 и, наконец, прибавления 2. Вообще на выражение а - b + с - d и т. д. можно смотреть и как на сумму чисел (+а), (-b), (+с), (-d), и как на результат таких последовательных действий: вычитания из (+а) числа (+b) , прибавления ( +c), вычитании ( +d) и т. д. 
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="multiplication" class="card-divider">
          <h5>Умножение</h5>
        </div>
        <div class="card-section">
          <p>При умножении двух чисел умножаются их абсолютные величины и перед произведением ставится знак плюс, если знаки сомножителей одинаковы, и минус, если они разные. 
          При умножении двух чисел умножаются их абсолютные величины и перед произведением ставится знак плюс, если знаки сомножителей одинаковы, и минус, если они разные. 
          </p>
          <div class="card">
            <div class="card-divider example-header">
              <p>Пример</p>
            </div>
            <div class="card-section">
              <p>
              <br>( + 2,4) * (-5) = -12; 
              <br>(-2,4) * (-5) = 12; 
              <br>(-8,2) * (+2) = -16,4.
              <br>(+1/3) * (+2) * (-6) * (-7) * (-1/2) = -14 (три отрицательных сомножителя);
              <br>(-1/3) * (+2) * (-3) * (+7) * (+1/2) = 7 (два отрицательных сомножителя).
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="division" class="card-divider">
          <h5>Деление</h5>
        </div>
        <div class="card-section">
          <p>При делении одного числа на другое делят абсолютную величину первого на абсолютную величину второго и перед частным ставится знак плюс, если знаки делимого и делителя одинаковы, и минус, если они разные (схема та же, что для умножения). </p>
          <div class="card">
            <div class="card-divider example-header">
              <p>Пример</p>
            </div>
            <div class="card-section">
              <p>
              <br>(-6) : (+3) = -2;
              <br>(+8) : (-2) = -4; 
              <br>(-12) : (-12) = + 1. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
