<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <h5>Правила действий с отрицательными числами</h5>
    </div>
    <div class="large-12 cell">
      list goes here
    </div>
  </div>
</div>
</div>
